{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-5 shadow-sm">
                    <div class="card-header bg-white border-bottom-0 fw-semibold text-center">
                        Sign Up
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form|crispy }}

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}

                            <button type="submit" class="btn btn-primary w-100 mb-3">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}